<template>
  <div class="container d-flex justify-content-center">
    <div class="text-center mt-5">
      <h1 class="mt-3">Bienvenue sur l'application MesDocuments !</h1>
      <div class="mt-3">
        Sur cette application vous pourrez consulter l'ensemble des documents, consulter des statistiques, en ajouter.
      </div>
      <div class="mt-4">
        <button class="btn btn-orange btn-lg text-light me-2" @click="goToDocuments">
          <i class="fa-solid fa-magnifying-glass me-2"></i>Consulter mes documents
        </button>
        <button class="btn btn-orange btn-lg text-light me-2" @click="goToAddDocument">
          <i class="fa-solid fa-circle-plus me-2"></i>Ajouter un document
        </button>
        <button class="btn btn-orange btn-lg text-light" @click="goToStatistiques">
          <i class="fa-solid fa-chart-column me-2"></i>Statistiques
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AccueilView',
  components: {},
  data() {
    return {
    }
  },
  methods: {
    goToAddDocument(){
      this.$router.push('/addDocument');
    },
    goToDocuments(){
      this.$router.push('/documents');
    },
    goToStatistiques(){
      this.$router.push('/stats');
    }
  }
}
</script>