<template>
  <div class="container">

    <!-- ENTETE -->
    <h1 class="mt-3">Ajout de document</h1>

    <!-- MESSAGE SUCCES -->
    <div v-if="created" class="alert alert-success mt-3" role="alert">
      <i class="fa fa-check-circle fa-lg me-2"></i>
      Votre document a bien été ajouté !
    </div>

    <!-- FORMULAIRE -->
    <form @submit.prevent="submit" class="mt-3">

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nom" placeholder="Nom" v-model="form.name" required>
        <label for="nom">Nom</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="path" placeholder="Chemin" v-model="form.path" required>
        <label for="path">Chemin</label>
      </div>

      <div class="form-floating mb-3">
        <select class="form-select" id="type" aria-label="Type" v-model.number="form.idTypeDocument" required>
          <option value="-1" disabled>Choisir un type</option>
          <option v-for="type in lstTypesDocument" :key="type.id" :value="type.id">{{type.libelle}}</option>
        </select>
        <label for="type">Type</label>
      </div>

      <button class="btn btn-success" type="submit"><i class="fa-solid fa-circle-plus me-2"></i>Ajouter un document</button>

    </form>

    <!-- RETOUR A L'ACCUEIL -->
    <ButtonAccueil class="mt-3"/>

  </div>
</template>

<script>
import ButtonAccueil from "@/components/ButtonAccueil";
import {HTTP} from "../../http";
export default {
  name: 'AddDocumentView',
  components: {ButtonAccueil},
  data() {
    return {
      lstTypesDocument: [],
      form: {
        name: "",
        path: "",
        idTypeDocument: -1
      },
      created: false
    }
  },
  // Au chargement du composant : récupération des types de document
  mounted() {
    HTTP.get('/typeDocument/')
        .then(res => this.lstTypesDocument = res.data)
        .catch(() => alert("Impossible de récupérer les types de document"))
  },
  methods: {

    // Méthode d'envoi du formulaire
    submit(){
      HTTP.post('/document/', this.form)
          .then(() => this.created = true)
          .catch(() => alert("Impossible de créer le document"));
    }

  }
}
</script>