<template>
  <div class="container">

    <!-- ENTETE -->
    <h1 class="mt-3">Documents</h1>

    <!-- RECHERCHE -->
    <div class="accordion mt-3" id="filtresAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
            Recherche
          </button>
        </h2>
        <div id="collapse" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#filtresAccordion">
          <div class="accordion-body">
            <form @submit.prevent="getDocuments()">
              <div class="input-group">
                <input v-model="searchName" type="text" class="form-control" placeholder="Nom du document" aria-label="Nom du document" aria-describedby="buttonFind">
                <button class="btn btn-primary text-light" type="submit" id="buttonFind"><i class="fa fa-search me-2"></i>Rechercher</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- MESSAGE SUCCES -->
    <div v-if="deleted" class="alert alert-success mt-3" role="alert">
      <i class="fa fa-check-circle fa-lg me-2"></i>
      Le document a correctement été supprimé !
    </div>

    <!-- LISTE DES DOCUMENTS -->
    <table class="table table-hover mt-3">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="document in pager.content" :key="document.id">
        <td>{{ document.id }}</td>
        <td>{{ document.name }}</td>
        <td>{{ document.typeDocument.libelle }}</td>
        <td>{{ displayDate(document.dateArchivage) }}</td>
        <td>
          <button class="btn btn-primary btn-sm me-1" @click="showPath(document.path)"><i class="fa fa-download"></i></button>
          <button class="btn btn-danger btn-sm" @click="deleteDocument(document.id)"><i class="fa fa-trash-can"></i></button>
        </td>
      </tr>

      <tr v-if="!pager.content.length">
        <td colspan="5">Aucun document !</td>
      </tr>

      </tbody>
    </table>

    <!-- PAGINATION -->
      <div v-if="pager.content.length" class="d-flex align-items-center bg-dark-blue text-light p-3 rounded-bottom">
        <div>Page {{pager.number + 1}} sur {{pager.totalPages}}</div>
        <nav aria-label="Navigation" class="flex-grow-1">
          <ul class="pagination justify-content-center m-0">
            <li class="page-item"><button class="page-link" @click="getDocuments(0)"> <i class="fa fa-angle-double-left"></i> </button></li>
            <li class="page-item"><button class="page-link" @click="getDocuments(pager.number - 1)"><i class="fa fa-angle-left"></i></button></li>
            <li class="page-item"><button class="page-link" @click="getDocuments(pager.number + 1)"><i class="fa fa-angle-right"></i></button></li>
            <li class="page-item"><button class="page-link" @click="getDocuments(pager.totalPages - 1)"><i class="fa fa-angle-double-right"></i></button></li>
          </ul>
        </nav>
        <div>{{pager.totalElements}} documents au total</div>
      </div>

    <!-- RETOUR A L'ACCUEIL -->
    <ButtonAccueil class="mt-3"/>

  </div>
</template>

<script>

import ButtonAccueil from "@/components/ButtonAccueil";
import moment from "moment";
import {HTTP} from "../../http";

export default {
  name: 'DocumentsView',
  components: {ButtonAccueil},
  data() {
    return {
      pager: {content: []},
      deleted: false,
      searchName: ""
    }
  },
  mounted() {
    this.getAllDocuments();
  },
  methods: {

    // Méthode de récupération des documents
    getDocuments(pageNumber = 0){
      if(pageNumber >= 0 && (!this.pager.totalPages || this.pager.totalPages > pageNumber)) {
        // Si on a un nom : Recherche par nom
        if (this.searchName.length) {
          this.getDocumentsByName(pageNumber);
        }
        // Sinon : recherche globale
        else {
          this.getAllDocuments(pageNumber);
        }
      }
    },

    // Récupération de tout les documents
    getAllDocuments(pageNumber = 0){
      HTTP.get("document/",{ params : {pageNumber: pageNumber, pageSize:5}})
          .then(rep => this.pager = rep.data)
          .catch(() => alert("Impossible de récupérer les documents"))
    },

    // Récupération de tout les documents par nom
    getDocumentsByName(pageNumber = 0){
      HTTP.get(`document/name/${this.searchName}`,{ params : {pageNumber: pageNumber, pageSize:5}})
          .then(rep => this.pager = rep.data)
          .catch(() => alert("Impossible de récupérer les documents"))
    },

    // Voir le chemin
    showPath(path){
      alert(path)
    },

    // Supression d'un document
    deleteDocument(id){
      HTTP.delete(`document/${id}`)
          .then(() => {
            this.getDocuments(this.pager.numberOfElements === 1 && this.pager.number > 0 ? this.pager.number - 1 : this.pager.number);
            this.deleted = true;
          })
          .catch(() => alert("Impossible de supprimer le document"))
    },

    // Affiche la date dans un meilleur format
    displayDate(date){
      return moment(String(date),).format('DD/MM/YYYY')
    }

  }
}
</script>