<template>
  <div class="container d-flex justify-content-center">
    <div class="text-center text-secondary mt-5">
      <i class="fa fa-exclamation-circle fa-3x"></i>
      <h1 class="mt-3">404</h1>
      La page que vous recherchez n'existe pas !
    </div>
  </div>

</template>

<script>
export default {
  name: "NotFoundView"
}
</script>