<template>
  <div class="container">

    <!-- ENTETE -->
    <h1 class="my-3">Statistiques</h1>

    <!-- FILTRES -->
    <select class="form-select" aria-label="Filtre" v-model="filtreSelected">
      <option v-for="filtre in lstFiltre" :value="filtre.value" :key="filtre.value">{{ filtre.libelle }}</option>
    </select>

    <!-- AFFICHAGE -->
    <ul v-if="lstStats.length" class="list-group mt-3">
      <li v-for="(stat, key) in lstStats" class="list-group-item d-flex align-items-center" :key="key">
        <div class="flex-grow-1">
          <div v-if="stat.date">{{displayDate(stat.date)}}</div>
          <div v-if="stat.typeDocument">{{stat.typeDocument.libelle}}</div>
        </div>
        <span class="badge bg-primary">{{stat.nbDocuments}}</span>
      </li>
    </ul>

    <!-- RETOUR A L'ACCUEIL -->
    <ButtonAccueil class="mt-3"/>

  </div>
</template>

<script>
import ButtonAccueil from "@/components/ButtonAccueil";
import {HTTP} from "../../http";
import moment from "moment";
export default {
  name: 'StatistiquesView',
  components: {ButtonAccueil},
  data() {
    return {
      lstFiltre: [
        {value: "dateAndType", libelle: "Date et Type"},
        {value: "date", libelle: "Date"},
        {value: "type", libelle: "Type"}
      ],
      filtreSelected: "dateAndType",
      lstStats: []
    }
  },
  watch: {
    filtreSelected(){
      this.getStats();
    }
  },
  mounted() {
    this.getStats();
  },
  methods: {

    // Récupére les stats
    getStats(){
      HTTP.get('/document/stats',{ params : {criteria: this.filtreSelected}})
          .then(res => this.lstStats = res.data)
          .catch(() => alert("Impossible de récupérer les stats"))
    },

    // Affiche la date dans un meilleur format
    displayDate(date){
      return moment(String(date),).format('DD/MM/YYYY')
    }
  }
}
</script>