<template>
  <button class="btn btn-orange text-light" @click="backToHome"><i class="fa-solid fa-home me-2"></i>Retour à l'accueil</button>
</template>

<script>
export default {
  name: "ButtonAccueil",
  methods: {
    backToHome(){
      this.$router.push('/');
    }
  }
}
</script>