@import "~bootstrap/scss/functions";

// Mes nouvelles couleurs
$dark-blue: #303841;
$clear-blue: #00ADB5;
$clear-grey: #EEEEEE;
$orange: #FF5722;

// Override de la couleur de fond
$body-bg: $clear-grey;
$body-color: $dark-blue;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Ajout de mes nouvelles couleurs dans la map theme de Bootstrap
$custom-theme-colors: (
        "dark-blue": $dark-blue,
        "clear-blue": $clear-blue,
        "clear-grey": $clear-grey,
        "orange": $orange,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import "~bootstrap/scss/bootstrap";