<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-clear-blue">
    <div class="container-fluid">
      <router-link to="/" class="navbar-brand text-dark-blue">MesDocuments</router-link>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Ouvrir/fermer le menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link to="/" active-class="active" class="nav-link">Accueil</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/documents" active-class="active" class="nav-link">Documents</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/addDocument" active-class="active" class="nav-link">Ajouter un document</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/stats" active-class="active" class="nav-link">Statistiques</router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-view/>
</template>